.background{
    background-image: url('../assets/DestinationChangeSolid.png');
    background-size:contain; 
    background-position: center;
    background-repeat: no-repeat;
    position:relative; 
    width: 100%;
    height:450px;
    
}